.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 0 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  .imgDiv {
    display: flex;
    align-items: center;

    a {
      display: flex;
    }

    img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      object-fit: cover;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  ul[nz-menu] {
    //flex: 1;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;

    li[nz-menu-item],
    li[nz-submenu] {
      cursor: pointer;
      font-size: 16px;
      padding: 10px 15px;
      transition: all 0.3s ease;

      &:hover {
        background-color: #f0f0f0;
      }

      a {
        text-decoration: none;
        color: #333;
        transition: color 0.3s ease;

        &:hover {
          color: #1890ff;
        }
      }
    }
  }

  .signIn {
    font-size: 14px;

    p {
      margin: 0;

      a {
        color: #1890ff;
        text-decoration: none;
        font-weight: 500;
        transition: color 0.3s ease;

        &:hover {
          color: #0056b3;
          text-decoration: underline;
        }
      }

      span {
        margin: 0 5px;
        color: #666;
      }
    }
  }
}

.user-menu {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 8px;
}

.user-info p {
  padding-top: 10px;
}

.dropdown-menu {
  position: absolute;
  width: 200px;
  top: 100%;
  left: -20%;
  background: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 8px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.dropdown-menu a {
  padding: 8px;
  text-decoration: none;
  color: black;
  display: block;
}

.dropdown-menu a:hover {
  background-color: #f0f0f0;
}
