<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
  <div class="flex">
    <div class="bg-white rounded-lg shadow-lg w-full">
      <!-- Header Dialog -->
      <div class="bg-gray-200">
        <div class="p-4 flex justify-between items-center">
          <h2 class="text-lg font-semibold">Thêm Combo</h2>
          <button
            type="button"
            (click)="closeDialog()"
            class="pr-2 text-gray-500 hover:text-red-700"
          >
            <i class="fas fa-times"></i>
          </button>
        </div>
        <!-- Các nút chọn tab -->
        <div class="pt-2 flex space-x-4">
          <button
            type="button"
            class="px-4 py-2 border-b-2"
            [ngClass]="
              selectedTab === 'info'
                ? 'text-blue-500 border-blue-500'
                : 'text-gray-500 border-transparent'
            "
            (click)="selectTab('info')"
          >
            Thông tin
          </button>
          <button
            type="button"
            class="px-4 py-2 border-b-2"
            [ngClass]="
              selectedTab === 'details'
                ? 'text-blue-500 border-blue-500'
                : 'text-gray-500 border-transparent'
            "
            (click)="selectTab('details')"
          >
            Mô tả chi tiết
          </button>
        </div>
      </div>
      <!-- Nội dung Dialog -->
      <div class="p-4">
        <!-- Tab Thông tin -->
        <div [hidden]="selectedTab !== 'info'">
          <!-- Sử dụng grid cho bố cục -->
          <div class="mt-4 grid grid-cols-1 md:grid-cols-[60%_40%] gap-4">
            <!-- Mã hàng hóa -->
            <div class="flex items-center justify-between">
              <label class="w-[20%] block text-gray-700">
                Mã hàng hóa
                <i class="fas fa-info-circle text-gray-400"></i>
              </label>
              <input
                formControlName="proAndSerCode"
                class="w-[80%] mr-5 border rounded p-2 mt-1"
                placeholder="Mã hàng tự động"
                type="text"
              />
            </div>
            <!-- Hạn Sử Dụng -->
            <div class="flex items-center justify-between">
              <label class="w-[30%] block text-gray-700">
                Hạn Sử Dụng
                <i class="fas fa-info-circle text-gray-400"></i>
              </label>
              <div class="w-[70%] mr-5">
                <input
                  formControlName="expiryDate"
                  type="date"
                  class="w-full mr-5 border rounded p-2 mt-1"
                />
              </div>
            </div>

            <!-- Tên hàng -->
            <div class="flex items-center justify-between">
              <label class="w-[20%] block text-gray-700">
                Tên hàng
                <i class="fas fa-info-circle text-gray-400"></i>
              </label>
              <div class="w-[80%] mr-5">
                <input
                  formControlName="proAndSerName"
                  class="w-full border rounded p-2 mt-1"
                  type="text"
                  placeholder="Tên hàng hóa"
                />
                <div
                  *ngIf="
                    productForm.get('proAndSerName')?.invalid &&
                    productForm.get('proAndSerName')?.touched
                  "
                  class="text-red-500 text-sm pt-2"
                >
                  <div
                    *ngIf="productForm.get('proAndSerName')?.errors?.['required']"
                  >
                    Tên hàng không được để trống.
                  </div>
                  <div
                    *ngIf="productForm.get('proAndSerName')?.errors?.['minlength']"
                  >
                    Tên hàng phải có ít nhất 3 ký tự.
                  </div>
                </div>
              </div>
            </div>

            <!-- Giá bán -->
            <div class="flex items-center justify-between">
              <label class="w-[30%] block text-gray-700">Giá bán</label>
              <div class="w-[70%] mr-5">
                <div class="flex items-center">
                  <input
                    formControlName="sellingPrice"
                    class="w-full border rounded p-2 mt-1"
                    type="number"
                    placeholder="Giá bán"
                  />
                  <button
                    type="button"
                    class="ml-2 border border-gray-400 rounded w-10 h-10 flex items-center justify-center text-gray-400"
                  >
                    <i class="fa fa-tags"></i>
                  </button>
                </div>
                <div
                  *ngIf="
                    productForm.get('sellingPrice')?.invalid &&
                    (productForm.get('sellingPrice')?.touched ||
                      productForm.get('sellingPrice')?.dirty)
                  "
                  class="text-red-500 text-sm pt-2"
                >
                  <div
                    *ngIf="productForm.get('sellingPrice')?.errors?.['pattern']"
                  >
                    Giá bán không hợp lệ.
                  </div>
                  <div *ngIf="productForm.get('sellingPrice')?.errors?.['min']">
                    Giá bán phải lớn hơn hoặc bằng 0.
                  </div>
                </div>
              </div>
            </div>
            <!-- Nhóm hàng -->
            <div class="flex items-center justify-between">
              <label class="w-[20%] block text-gray-700">
                Nhóm hàng
                <i class="fas fa-info-circle text-gray-400"></i>
              </label>
              <div class="w-[80%] mr-5 flex items-center">
                <select
                  formControlName="productTypeId"
                  class="w-full border rounded p-2 mt-1 h-10"
                >
                  <option disabled value="">--Chọn nhóm hàng--</option>
                  <option
                    *ngFor="let productGroup of productGroups"
                    [value]="productGroup.productTypeId"
                  >
                    {{ productGroup.productTypeName }}
                  </option>
                  <!-- Các option khác -->
                </select>
                <button
                  type="button"
                  (click)="openDialog()"
                  class="ml-2 text-blue-500 border rounded mt-1 h-10 w-10 flex items-center justify-center"
                >
                  <i class="fas fa-plus"></i>
                </button>
              </div>
            </div>
            <!-- Hoa hồng -->
            <div class="flex items-center justify-between">
              <label class="w-[30%] block text-gray-700">Hoa hồng NV</label>
              <div class="w-[70%] mr-5 flex items-center">
                <input
                  formControlName="commission"
                  class="w-full border rounded p-2 mt-1"
                  type="number"
                  placeholder="Hoa hồng NV"
                />
                <button
                  type="button"
                  class="ml-2 border border-gray-400 rounded w-10 h-10 flex items-center justify-center text-gray-400"
                >
                  <i class="fas fa-copy"></i>
                </button>
              </div>
            </div>

            <!-- Ảnh sản phẩm -->
            <div class="m-5 flex items-center justify-center">
              <div class="flex items-center justify-between">
                <button
                  type="button"
                  (click)="prevImages()"
                  class="text-gray-500 p-3"
                >
                  <i class="fas fa-chevron-left"></i>
                </button>
                <!-- Hiển thị 5 ảnh một lúc -->
                <div class="flex space-x-2">
                  <div
                    *ngFor="
                      let img of selectedImages
                        | slice : currentIndex : currentIndex + 5;
                      let i = index
                    "
                    class="relative flex flex-col items-center"
                  >
                    <!-- Nút xóa ảnh (ra ngoài label) -->
                    <span
                      (click)="removeImageFile(currentIndex + i)"
                      *ngIf="img"
                      class="absolute top-1 right-1 flex items-center justify-center cursor-pointer z-10"
                    >
                      <nz-icon
                        nzType="close-circle"
                        class="text-red-500 font-black"
                        nzTheme="outline"
                      />
                    </span>

                    <!-- Label để kích hoạt input file -->
                    <div
                      class="relative group cursor-pointer transition-all duration-300 transform border-2 hover:border-blue-500 flex items-center justify-center"
                      (click)="openFileDialog($event, currentIndex + i)"
                      tabindex="0"
                    >
                      <!-- Hiện chữ "+ Thêm" nếu chưa có ảnh -->
                      <span
                        *ngIf="!img"
                        class="absolute text-black opacity-0 group-hover:opacity-100 transition-opacity duration-300"
                      >
                        + Thêm
                      </span>

                      <!-- Ảnh sản phẩm -->
                      <img
                        class="w-[90px] h-[90px] object-cover"
                        [src]="img || 'assets/images/image.png'"
                        alt="Ảnh sản phẩm"
                      />
                    </div>

                    <input
                      *ngIf="!img"
                      type="file"
                      [id]="'productImageFiles' + i"
                      accept="image/*"
                      hidden
                      (change)="onFileSelected($event, currentIndex + i)"
                    />
                  </div>
                </div>

                <button
                  type="button"
                  (click)="nextImages()"
                  class="text-gray-500 p-3"
                >
                  <i class="fas fa-chevron-right"></i>
                </button>
              </div>
            </div>
            <!-- Trạng thái -->
            <div class="flex items-center justify-between">
              <label class="w-[30%] block text-gray-700">
                Trạng thái
                <i class="fas fa-info-circle text-gray-400"></i>
              </label>
              <div class="w-[70%] mr-5">
                <select
                  formControlName="status"
                  class="w-full border rounded p-2 mt-1"
                  required
                >
                  <option disabled value="">--Chọn trạng thái--</option>
                  <option value="1">Mở bán</option>
                  <option value="3">Ẩn sản phẩm</option>
                </select>
                <div
                  *ngIf="
                    productForm.get('status')?.invalid &&
                    (productForm.get('status')?.touched ||
                      productForm.get('status')?.dirty)
                  "
                  class="text-red-500 text-sm pt-2"
                >
                  <div *ngIf="productForm.get('status')?.errors?.['required']">
                    Trạng thái bắt buộc
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mt-4 border-gray-300 shadow-lg bg-white">
            <p
              class="w-full text-left font-semibold text-gray-800 py-2 px-3 border-b border-gray-300 bg-gray-100"
            >
              Thành phần trong combo
            </p>
            <div class="flex gap-2 w-full mt-2 py-2 px-3">
              <p class="text-left py-2 whitespace-nowrap align-middle">
                Chọn dịch vụ hoặc sản phẩm
                <i class="fas fa-info-circle text-gray-500 text-xs"></i>
              </p>
              <nz-select
                [(ngModel)]="selectedProductId"
                (ngModelChange)="onSelectProduct($event)"
                nzShowSearch
                nzServerSearch
                [ngModelOptions]="{ standalone: true }"
                nzPlaceHolder="Tìm kiếm sản phẩm hoặc Dịch vụ"
                [nzShowArrow]="false"
                [nzFilterOption]="nzFilterOption"
                (nzOnSearch)="search($event)"
                class="w-full"
              >
                <nz-option
                  *ngFor="let item of listOfOption"
                  [nzLabel]="
                    item.proAndSerName +
                    ' - ' +
                    item.proAndSerCode +
                    (item.inventoryQuantity === 0 ? ' - Hết hàng' : '')
                  "
                  [nzValue]="item.proAndSerId"
                  class="pro-option"
                  [nzDisabled]="item.inventoryQuantity === 0"
                ></nz-option>
              </nz-select>

              <button
                type="button"
                aria-label="Danh sách dịch vụ"
                class="border border-gray-300 rounded-md p-2 text-gray-600 hover:text-gray-900 hover:border-gray-400 flex items-center justify-center"
              >
                <i class="fas fa-list-ul"></i>
              </button>
            </div>
            <div class="flex flex-col items-center justify-center w-full p-2">
              <table
                *ngIf="selectedProAndSer.length > 0"
                class="w-[95%] border border-sky-200 rounded-lg border-collapse"
              >
                <thead class="bg-sky-100">
                  <tr
                    class="h-10 border border-sky-100 text-gray-800 text-sm font-semibold"
                  >
                    <th class="text-center w-10 cursor-pointer">
                      <i class="fa-solid fa-xmark" style="color: #e52a2a"></i>
                    </th>
                    <th class="text-center py-2">STT</th>
                    <th class="text-left pl-2">Mã</th>
                    <th class="text-left pl-2">Tên</th>
                    <th class="text-center py-2">
                      Số lượng<span class="text-pink-500">*</span>
                    </th>
                    <th class="text-right py-2 pr-3">Giá bán lẻ</th>
                    <th class="text-right py-2 pr-3">Thành tiền</th>
                  </tr>
                </thead>
                <tbody class="text-sm text-gray-900">
                  <tr
                    class="border-b-2 border-sky-100"
                    *ngFor="let product of selectedProAndSer; let i = index"
                  >
                    <td class="text-center align-middle cursor-pointer">
                      <i
                        (click)="removeProduct(i)"
                        class="fa-solid fa-xmark"
                        style="color: #e52a2a"
                      ></i>
                    </td>
                    <td class="py-2 text-center align-middle">
                      {{ i + 1 }}
                    </td>
                    <td class="py-2 pl-3 align-middle">
                      {{ product.proAndSerCode }}
                    </td>
                    <td class="py-2 font-semibold pl-3 align-middle">
                      {{ product.proAndSerName }}
                    </td>
                    <td class="py-2 text-center align-middle">
                      <input
                        type="number"
                        min="1"
                        [(ngModel)]="product.quantity"
                        (ngModelChange)="
                          updateQuantity(i, product.quantity ?? 1)
                        "
                        [ngModelOptions]="{ standalone: true }"
                        class="border p-1 w-16 text-center"
                      />
                    </td>
                    <td class="py-2 text-right pr-3 align-middle">
                      {{ product.sellingPrice | number }}
                    </td>
                    <td class="py-2 text-right pr-3 align-middle">
                      {{ product.finalPrice | number }}
                    </td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="6" class="py-2 font-semibold text-right pr-3">
                      Tổng giá bán lẻ:
                    </td>
                    <td class="py-2 text-right pr-3">
                      {{ finalPriceProducts | number }}
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>

        <!-- Tab Mô tả chi tiết -->
        <div [hidden]="selectedTab !== 'details'" class="mt-4 h-[380px]">
          <div class="flex flex-col h-full">
            <label class="text-gray-700 mb-2">Mô tả chi tiết</label>
            <quill-editor
              class="h-[80%]"
              formControlName="description"
              [modules]="{
                toolbar: [
                  ['bold', 'italic', 'underline', 'strike'],
                  [{ header: 1 }, { header: 2 }],
                  [{ font: [] }],
                  [{ list: 'ordered' }, { list: 'bullet' }],
                  [{ align: [] }],
                  ['link', 'image'],
                  ['clean']
                ]
              }"
            >
            </quill-editor>
          </div>
        </div>

        <!-- Nút hành động dưới cùng -->
        <div class="mt-4 flex justify-end space-x-2">
          <button
            type="button"
            class="bg-green-500 text-white px-4 py-2 rounded"
            (click)="onSubmit()"
          >
            Lưu
          </button>
          <button
            type="button"
            (click)="resetForm()"
            class="bg-gray-500 text-white px-4 py-2 rounded"
          >
            Làm mới
          </button>
          <button
            type="button"
            (click)="closeDialog()"
            class="bg-gray-500 text-white px-4 py-2 rounded"
          >
            Bỏ qua
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
