<app-header></app-header>
<div class="bill-container">
  <div class="search-box"></div>
  <div class="bill-content">
    <div class="header"></div>
    <div class="bill-table">
      <table>
        <thead>
          <tr>
            <th>STT</th>
            <th>Thời gian</th>
            <th>Tên Khách Hàng</th>
            <th>SĐT</th>
            <th>Tổng tiền hàng</th>
            <th>Giảm giá</th>
            <th>Tổng tiền sau giảm giá</th>
            <th>Trạng thái</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let item of billList">
            <tr (click)="onHiddenDetail($event)">
              <td>{{ item.billId }}</td>
              <td>{{ item.billDate | date: "hh:MM 'ngày' dd/MM/yyyy"}}</td>
              <td>{{ item.customerName !== null ? item.customerName : "Khách lẻ"}}</td>
              <td>{{ item.numberPhone }}</td>
              <td>{{ item.totalBill }}</td>
              <td>{{ item.value_data === null ? "0" : item.value_data }}</td>
              <td>{{ item.totalMoneyAfterDiscount }}</td>
              <td>
                <ng-container [ngSwitch]="item.statusBill">

                  <!-- Chưa thanh toán -->
                  <span *ngSwitchCase="0">
                    <nz-icon nzType="clock-circle"></nz-icon>

                  </span>

                  <!-- Đã thanh toán -->
                  <span *ngSwitchCase="1">
                    <nz-icon nzType="check-circle"></nz-icon>

                  </span>

                  <!-- Đã hủy -->
                  <span *ngSwitchCase="2">
                    <nz-icon nzType="close-circle"></nz-icon>

                  </span>

                  <!-- Quá hạn -->
                  <span *ngSwitchCase="3">
                    <nz-icon nzType="exclamation-circle"></nz-icon>

                  </span>

                  <!-- Trường hợp không xác định -->
                  <span *ngSwitchDefault>
                    <nz-icon nzType="question-circle"></nz-icon>

                  </span>

                </ng-container>
              </td>

            </tr>
            <tr class="hidden ">
              <td colspan="8">
                <div class="detailBill">
                  <div class="information">
                    <div class="item">
                      <p>Mã đơn hàng: {{ item.billId }}</p>
                      <p>Ngày xuất phiếu: {{ item.billDate | date: "hh:MM 'ngày' dd/MM/yyyy"}}</p>
                      <p>Tên khách hàng: {{ item.customerName !== null ? item.customerName : "Khách lẻ" }}</p>
                    </div>
                    <div class="item">

                      <p><ng-container [ngSwitch]="item.statusBill">

                          <!-- Chưa thanh toán -->
                          <span *ngSwitchCase="0">
                            Trạng thái: Chưa thanh toán

                          </span>

                          <!-- Đã thanh toán -->
                          <span *ngSwitchCase="1">
                            Trạng thái: Đã thanh toán

                          </span>

                          <!-- Đã hủy -->
                          <span *ngSwitchCase="2">
                            Trạng thái: Đã hủy

                          </span>

                          <!-- Quá hạn -->
                          <span *ngSwitchCase="3">
                            Trạng thái: Quá hạn

                          </span>

                          <!-- Trường hợp không xác định -->
                          <span *ngSwitchDefault>
                            Trạng thái: Không rõ

                          </span>

                        </ng-container></p>
                      <p>Thu ngân: {{ item.receptionName }}</p>
                    </div>
                    <div class="productTable">
                      <table class="productDetail">
                        <thead>
                          <tr>
                            <th>Tên sản phẩm</th>
                            <th>Đơn giá</th>
                            <th>Số lượng</th>
                            <th>Giảm giá</th>
                            <th>Người làm</th>
                            <th>Thành tiên</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let i of item.billSendDetails">
                            <td>{{ i.proAndSerName }}</td>
                            <td>{{ i.quantity }}</td>
                            <td>{{ i.unitPrice }}</td>
                            <td>{{ i.unitPrice }}</td>
                            <td>{{ i.serviceStaffName }}</td>
                            <td>{{ i.totalMoney }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="actionBtn">
                  <button class="btn btn_print" (click)="sendReceipt(item.billId)">
                    In
                  </button>
                  <button class="btn btn_exprort">Xuất file</button>

                  <button *ngIf="item.statusBill === 0" style="background-color: rgb(247, 147, 76);"
                    class="btn btn_edit" (click)="EditBill(item.billId)">Sửa hóa đơn</button>

                  <button class="btn btn_cancel" (click)="delBill(item.billId)">Hủy bỏ</button>
                </div>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
      <div style="text-align: center; margin-top: 10px" *ngIf="!isSearch">
        <nz-pagination [nzPageIndex]="currentPage" [nzTotal]="countPage" [nzPageSize]="pageSize"
          (nzPageIndexChange)="onPageChange($event)"></nz-pagination>
      </div>
    </div>
  </div>
</div>
<app-receipt [model]="receipt"></app-receipt>
<app-bill-filter (sendBill)="getBillSearch($event)"></app-bill-filter>
