<div class="register">
  <h1 style="text-align: center; margin-top: 20px">ĐĂNG KÝ</h1>
  <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="staffName" nzRequired

        >Tên nhân viên</nz-form-label

      >
      <nz-form-control
        [nzSm]="14"
        [nzXs]="24"
        nzErrorTip="Vui lòng nhập tên nhân viên!"
      >
        <input nz-input formControlName="StaffName" id="staffName" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="gender" nzRequired

        >Giới tính</nz-form-label

      >
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <nz-radio-group formControlName="Gender">
          <label nz-radio nzValue="Male">
            <input type="radio" name="gender" value="Male" /> Nam
          </label>
          <label nz-radio nzValue="Female">
            <input type="radio" name="gender" value="Female" /> Nữ
          </label>
        </nz-radio-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="numberPhone" nzRequired>
        Số điện thoại
      </nz-form-label>
      <nz-form-control
        [nzSm]="14"
        [nzXs]="24"
        nzErrorTip="Vui lòng nhập số điện thoại!"
      >
        <input nz-input formControlName="NumberPhone" id="numberPhone" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="birthday" nzRequired

        >Ngày sinh</nz-form-label

      >
      <nz-form-control
        [nzSm]="14"
        [nzXs]="24"

        nzErrorTip="Vui lòng chọn ngày sinh!"

      >
        <input nz-input type="date" formControlName="Birthday" id="birthday" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="username" nzRequired

        >Tên đăng nhập</nz-form-label

      >
      <nz-form-control
        [nzSm]="14"
        [nzXs]="24"

        nzErrorTip="Vui lòng nhập tên đăng nhập!"

      >
        <input nz-input formControlName="Username" id="username" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired

        >Mật khẩu</nz-form-label

      >
      <nz-form-control
        [nzSm]="14"
        [nzXs]="24"

        nzErrorTip="Vui lòng nhập mật khẩu!"

      >
        <input
          nz-input
          type="password"
          formControlName="Password"
          id="password"
        />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="email" nzRequired
        >Email</nz-form-label
      >
<nz-form-control
  [nzSm]="14"
  [nzXs]="24"
  nzErrorTip="Vui lòng nhập địa chỉ email hợp lệ!"
>
  <input nz-input type="email" formControlName="Email" id="email" />
</nz-form-control>
    </nz-form-item>

    <div class="messageDiv">
      <p>{{ messageError }}</p>
    </div>
    <nz-form-item nz-row class="register-area">
      <nz-form-control [nzSpan]="14" [nzOffset]="6">
<div class="messageDiv">
  <p>{{ messageError }}</p>
</div>
<nz-form-item nz-row class="register-area">
  <nz-form-control [nzSpan]="14" [nzOffset]="6">
    <button nz-button nzType="primary">Đăng ký</button>
