<div class="register">
  <h1 style="text-align: center; margin-top: 20px">ĐĂNG KÝ</h1>
  <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="staffName" nzRequired
        >Staff Name</nz-form-label
      >
      <nz-form-control
        [nzSm]="14"
        [nzXs]="24"
        nzErrorTip="Please input your name!"
      >
        <input nz-input formControlName="StaffName" id="staffName" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="gender" nzRequired
        >Gender</nz-form-label
      >
      <nz-form-control [nzSm]="14" [nzXs]="24">
        <nz-radio-group formControlName="Gender">
          <label nz-radio nzValue="Male">
            <input type="radio" name="gender" value="Male" /> Nam
          </label>
          <label nz-radio nzValue="Female">
            <input type="radio" name="gender" value="Female" /> Nữ
          </label>
        </nz-radio-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="numberPhone" nzRequired
        >Phone Number</nz-form-label
      >
      <nz-form-control
        [nzSm]="14"
        [nzXs]="24"
        nzErrorTip="Please input your phone number!"
      >
        <input nz-input formControlName="NumberPhone" id="numberPhone" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="birthday" nzRequired
        >Birthday</nz-form-label
      >
      <nz-form-control
        [nzSm]="14"
        [nzXs]="24"
        nzErrorTip="Please select your birthday!"
      >
        <input nz-input type="date" formControlName="Birthday" id="birthday" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="username" nzRequired
        >Username</nz-form-label
      >
      <nz-form-control
        [nzSm]="14"
        [nzXs]="24"
        nzErrorTip="Please input your username!"
      >
        <input nz-input formControlName="Username" id="username" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired
        >Password</nz-form-label
      >
      <nz-form-control
        [nzSm]="14"
        [nzXs]="24"
        nzErrorTip="Please input your password!"
      >
        <input
          nz-input
          type="password"
          formControlName="Password"
          id="password"
        />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="email" nzRequired
        >Email</nz-form-label
      >
      <nz-form-control
        [nzSm]="14"
        [nzXs]="24"
        nzErrorTip="Please input a valid email!"
      >
        <input nz-input type="email" formControlName="Email" id="email" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-row class="register-area">
      <nz-form-control [nzSpan]="14" [nzOffset]="6">
        <button nz-button nzType="primary">Register</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
