<div class="forgotPassword">
  <h1>Quên mật khẩu?</h1>
  <p>Hãy điền email gắn với tài khoản để lấy đường dẫn lấy lại mật khẩu!!</p>
  <form
    nz-form
    [nzLayout]="'inline'"
    [formGroup]="validateForm"
    (ngSubmit)="submitForm()"
  >
    <nz-form-item>
      <nz-form-control nzErrorTip="Mời nhập mật khẩu">
        <nz-input-group nzPrefixIcon="password">
          <input
            formControlName="password"
            nz-input
            placeholder="Nhập password ở đây"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button nz-button nzType="primary" [disabled]="!validateForm.valid">
          Lấy mật khẩu
        </button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
